/*Thanah Raveendran*/

body {
   margin: 0px;
   margin-top: 0px;
   font-family: 'Work Sans', sans-serif;
   font-weight: 300;;
}
.container {
   width: 80%;
   margin: 0 auto;
}
header {
   margin-top: 0px;
   background: #66d4bc;
}


header::after {
   content:'';
   display: table;
   clear: both; 
}

h1 {
   margin-left: 25px;
   padding-top: 20px;
   color:#222222;
}
h2 {
   margin-left: 25px;
   color:#eefffc;
   font-family: 'Work Sans', sans-serif;
}
h3 {
   font-family: 'Work Sans', sans-serif;
   color:#eefffc;
}
p {
   font-family: 'Work Sans', sans-serif;
   color:#eefffc;
   margin-left: 55px;
}

b {
   font-family: 'Work Sans', sans-serif;
   color:#eefffc;
   margin-left: 50px;
}
table {
   font-family: 'Work Sans', sans-serif;
   color:#eefffc;
   text-align: center;
}

label {color:#eefffc;}
	 
footer{
   text-decoration: none; 
   margin-left:0px;
   font-size: 0.60em; 
   clear: both;
   color: rgb(83, 83, 83);
   font-family: 'Work Sans';
   background-color: #66d4bc;
   text-align: center;
}
footer p {
   color: rgb(83, 83, 83);
}

nav {
   float: right;
}

nav ul {
   margin: 0;
   margin-right: 50px;
   padding: 0;
   list-style: none;
}
nav li{
   display: inline-block;
   margin-left: 70px;
   padding-top: 35px;
}

nav a {
   color: rgb(83, 83, 83);
   text-decoration: none;
   text-transform: uppercase;
}
nav a:hover{
   color: #000;
}
nav div{
   color: rgb(83, 83, 83);
   text-decoration: none;
   text-transform: uppercase;
}

nav div:hover{
   color: #000000;
}

#clock {
   color: rgb(83, 83, 83);
}

.contact{font-size:.90em;font-weight:bold;font-family:'Work Sans', sans-serif;}

img {
   border: 0;
   margin-top: 10px;
   margin-left: 50px;
   width: 250px;
}
img.medium {
   width: 250px;
}
img.large {
   width: 500px;
}

dd{font-style: italic; font-size: 0.90em; color: #befff5;
line-height: 200%;}

.floatleft{float:left;
padding-bottom: 20px;
padding-right: 20px;}

.clear { clear:left;}

.floatright{float:right; padding: 0 2em 0 0 2em; padding-top: 1em;}


		  
table{ width: 80%; border:1px  #eefffc solid; border-collapse:collapse;}

label{float:left; display:block; text-align:right;font-weight:bold;width:8em;padding-right:5px;}
	
input, textarea {display:block; margin-bottom:0.5em;}
#mySubmit {margin-left:10em;}		  
		  
#Ali{ 
padding-left:25px;}